<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--<link href="/stylesheets/bootstrap.min.css" rel="stylesheet"> -->
  <title>Restaurants List</title>
  <link href="../stylesheets/bootstrap.css" rel="stylesheet">
  <link href="../stylesheets/main.css" rel="stylesheet">
  <link href="../stylesheets/create.cs" rel="stylesheet">
  
</head>

<body>
  <header>
    <!-- navigation -->
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">
            <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png" width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
            我的餐廳清單
        </a>
      </div>
      <div class="container">
        <a class="navbar-brand" href="/create">
            <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png" width="30"
            height="30" class="d-inline-block align-top" alt="新增餐廳">
            新增餐廳
        </a>
      </div>
    </nav>

    <div class="banner"></div>
  </header>

  {{{ body }}}

  <script src="public/javascripts/bootstrap.js"></script>
  <script src="https://kit.fontawesome.com/acc1e7032e.js" crossorigin="anonymous"></script>
  <script src="../public/javascripts/bootstrap.js"></script>

</body>

</html>