<form action="/newStores" method="post">
    <input type="text" placeholder="add --name-- here" name="name" style="display: block; ">
    <input type="text" placeholder="add --name_en-- here" name="name_en" style="display: block;">
    <input type="text" placeholder="add --category-- here" name="category" style="display: block;">
    <input type="text" placeholder="add --image-- here"name="image" style="display: block;">
    <input type="text" placeholder="add --location-- here" name="location" style="display: block;">
    <input type="text" placeholder="add --phone-- here" name="phone" style="display: block;">
    <input type="text" placeholder="add --google_map-- here" name="google_map" style="display: block;">
    <input type="text" placeholder="add --rating-- here" name="rating" style="display: block;">
    <input type="text" placeholder="add --description-- here" name="description" style="display: block;">
    <button type="submit"> Create </button>
</form>
<a href="/Stores">back to homepage</a>

