{{> message}}
<div style="display: flex; justify-content: center; margin-top: 20px;">
  <form action="/Stores/newStores" method="post">
      <div style="margin-bottom: 10px;">
          <label for="name" style="display: inline;">請新增餐廳名稱</label>
          <input type="text" placeholder="edit --name-- here" name="name" required style="display: inline; " id="name">
      </div>
      <div style="margin-bottom: 10px;">
          <label for="name_en" style="display: inline;">請新增餐廳英文名稱，只能輸入英文</label>
          <input type="text" placeholder="edit --name_en-- here" name="name_en" required style="display: inline;"
              id="name_en">
      </div>
      <div style="margin-bottom: 10px;">
          <label for="category" style="display: inline;">請新增餐廳分類</label>
          <input type="text" placeholder="edit --category-- here" name="category" required style="display: inline;"
              id="category">
      </div>
      <div style="margin-bottom: 10px;"> 
          <label for="image" style="display: inline;">請新增餐廳圖片</label>
          <input type="text" placeholder="edit --image-- here" name="image" required style="display: inline;" id="image">
      </div>
      <div style="margin-bottom: 10px;">
          <label for="location" style="display: inline;">請新增餐廳地址</label>
          <input type="text" placeholder="edit --location-- here" name="location" required style="display: inline;"
              id="location">
      </div>
      <div style="margin-bottom: 10px;">
          <label for="phone" style="display: inline;">請新增餐廳電話，只能輸入數字</label>
          <input type="text" placeholder="edit --phone-- here" name="phone" required style="display: inline;" id="phone" pattern="[0-9]*">
      </div>
      <div style="margin-bottom: 10px;">
          <label for="google_map" style="display: inline;">請新增餐廳google_map連結</label>
          <input type="text" placeholder="edit --google_map-- here" name="google_map" required style="display: inline;"
              id="google_map">
      </div> 
      <div class="createDiv" style="margin-bottom: 10px;">
          <label for="rating" style="display: inline;">請新增餐廳評分，只能輸入0-5並允許到小數點第一位</label>
          <input type="text" placeholder="edit --rating-- here" name="rating" required style="display: inline;" id="rating"
              pattern="[0-5](\.[0-9])?">
      </div>   
      <div class="createDiv" style="margin-bottom: 10px;">
          <label for="description" style="display: inline;">請新增餐廳簡述</label>
          <input type="text" placeholder="edit --description-- here" name="description" required style="display: inline;"id="description">
      </div>
      <button type="submit" style="text-align: center; wieth:;color:rgb(0, 0, 0);background-color:rgb(218, 218, 220); box-shadow: 5px 5px #858585 "> Create </button>
  </form>
</div>
<div style="display: flex; justify-content: center; margin-bottom:100px">
  <a href="/Stores" style="text-align: center;color:cornflowerblue;background-color:rgb(218, 218, 220); box-shadow: 5px 5px #858585; width:200px;height:30px text-decoration:none" ><i class="fa-solid fa-house" width="30" height="30"></i>back to homepage</a>
</div>


