<h1>Register</h1>
{{> message}}
<div style="display: flex;">
  <form action="/Users/register" method="POST">
    <label for="name"><input type="text" name="name" placeholder="name"  style="display: block;"></label>

    <label for="email"><input type="email" name="email" placeholder="Email" required style="display: block;"></label>

    <label for="password"><input type="password" name="password" placeholder="Password" required style="display: block;"></label>

    <label for="confirmPassword"><input type="password" name="confirmPassword" placeholder="confirmPassword"
        required style="display: block;"></label>

    <button type="submit">register</button>
  </form>
</div>
<span>Already have an account? <a href="/Users/login">Login</a> </span>
<form action="/login/facebook" method="GET">
  <button type="submit">Facebook Login</button>
</form>